{% extends 'base.html' %}


{% block title %}Об авторе{% endblock %}

{% block content %}
  <div class="container py-5">
    <h3>Об авторе</h3>
    <p>Меня зовут Юлия Кажаева, зачастую использую псевдоним Railey Hartheim.</p>
    <p>На момент написания всего этого хочу от вселенной три вещи:</p>
    <ul>
      <li>
        Выучить Python до такой степени, чтобы получить работу;
      </li>
      <li>
        Много денег;
      </li>
      <li>
        И еще одну вещь, но о ней я вам не скажу.
      </li>
    </ul>
    <p>А это ссылка на мой <a href="https://github.com/RaileyHartheim">гитхаб</a>.</p>
  </div>
{% endblock %}