{% extends 'base.html' %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="container py-5">
  <div class="row">
    <h2>Вот что я умею</h2>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python
        </li>
        <li class="list-group-item">
          Django
        </li>
        <li class="list-group-item">
          Вовремя закрывать тэги в html-файлах
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p>Тут должно быть что-то еще, но что именно — пока никто не знает. Даже я.</p>
    </article>
  </div>
</div>
{% endblock %} 